/* =============
    Base
============= */

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}

// Grid

.globalcssgrid{
     display: grid;
     grid-template-columns: 16px auto 16px;
     grid-template-areas: ". global-grid .";
     
     >div{
         grid-area: global-grid;
     }
}



// Allign

.center{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}