#gallery {
    background-color: var(--nasadark);

    #searchinp {
        margin-top: 40px;
        margin-bottom: 30px;
        color: black;

        form {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;

            @include md {
                justify-content: left;
            }

            input {
                background-color: var(--nasalight);
                width: 300px;
                height: 10px;
                border: 0;
                padding: 10px 0;
                margin: 5px 0;
                text-align: left;
                font-size: 10px;
                border-radius: 0px;
                color: black;
                padding-left: 16px;

                @include md {
                    width: 500px;
                    height: 30px;
                    font-size: 16px;
                }

                @include lg {
                    width: 700px;
                    height: 30px;
                }

                @include xl {
                    width: 1000px;
                    height: 30px;
                }
            }
        }
    }

    #imgofday {
        height: 300px;
        overflow: hidden;

        @include md {
            height: 500px;
        }

        @include lg {
            height: 700px;
        }

        @include xl {
            height: 800px;
        }

        img {
            width: 100%;
        }
    }

    #imgday {
        h1 {
            padding-top: 16px;
            padding-bottom: 16px;

            @include md {
                padding-top: 32px;
            }
        }

        p {
            padding-bottom: 20px;
            font-size: small;
        }
    }

    #imgcards {
        @include md {
            display: grid;
            grid-template-rows: auto;
            grid-template-rows: "row1 row2";
        }

        #row1 {
            @include md {
                grid-area: rwo1;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0px;
            }

            >div {
                @include md {
                    display: grid;
                    grid-template-columns: auto;
                    grid-template-areas: "img1 img2";
                }

                @include xl {
                    display: grid;
                    grid-template-columns: auto;
                    grid-template-areas: "img1 img2 img3";
                }

                @include xxl {
                    display: grid;
                    grid-template-columns: auto;
                    grid-template-areas: "img1 img2 img3 img4";
                }

                #img1 {
                    grid-area: img1;

                    @include lg {
                        margin-left: 260px;
                    }

                    @include xl {
                        margin-left: 0px;
                    }
                }

                #img2 {
                    grid-area: img2;
                }

                #img3 {
                    grid-area: img3;
                }

                #img4 {
                    grid-area: img4;
                }
            }
        }

        #row2 {
            @include md {
                grid-area: row2;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0px;
            }

            >div {
                @include md {
                    display: grid;
                    grid-template-columns: auto;
                    grid-template-areas: "img5 img6 img7 img8";
                }

                #img5 {
                    grid-area: img5;
                }

                #img6 {
                    grid-area: img6;
                }

                #img7 {
                    grid-area: img7;
                }

                #img8 {
                    grid-area: img8;
                }
            }
        }
    }

    #imgcard1 {
        margin: 24px;

        img {}

        article {}
    }

    #imgcard2 {
        margin: 24px;

        img {}

        article {}
    }

    #imgcard3 {
        margin: 24px;

        @include md {
            display: none;
        }

        @include xl {
            display: grid;
        }
    }

    #imgcard4 {
        margin: 24px;

        @include md {
            display: none;
        }

        @include xxl {
            display: grid;
        }
    }

    #imgcard5 {
        margin: 24px;
        display: none;

        @include xxl {
            display: grid;
        }
    }

    #imgcard6 {
        margin: 24px;
        display: none;

        @include xxl {
            display: grid;
        }
    }

    #imgcard7 {
        margin: 24px;
        display: none;

        @include xxl {
            display: grid;
        }
    }

    #imgcard8 {
        margin: 24px;
        display: none;

        @include xxl {
            display: grid;
        }
    }


    #moreimgbutton {}

    // End of imgae cards

    #imgvidgap {
        margin-bottom: 40px;
    }


    // Video hero

    #videoheroall{
        @include lg{
            display: grid;
            grid-template-columns: auto;
            grid-template-areas: "vidcardhero videoheroinfo";
        }
        #vidcardhero {
            grid-area: vidcardhero;
            width: 400px;
            height: 250px;
            overflow: hidden;
            border: 1px;
            border-style: solid;
            border-color: white;
            @include md{
            width: 700px;
            height: 420px;
            }
    
            img {
                height: 400px;
                margin-top: -0px;
                @include md{
                    height: 700px;
                    margin-top: -160px;
                }
            }
    
            #play {
                width: 20px;
                display: flex;
                align-items: center;
                vertical-align: middle;
                margin: auto;
                margin-top: -400px;
                @include md{
                    margin-top: -600px;
                }
            }
            h3{
                display: none;
                padding: 16px;
                @include md{
                    margin-top: -140px;
                    display: grid
                }
            }
        }

        #videoheroinfo{
            grid-area: videoheroinfo;
            @include md{
                padding: 16px;
            }
            @include xxl{
                width: 500px;
            }
            h5{
                margin-top: 10px;
            }
            
            h1 {
                padding-top: 16px;
                padding-bottom: 16px;
    
                @include md {
                    padding-top: 32px;
                }
            }
    
            p {
                padding-bottom: 20px;
                font-size: small;
            }
        }

    }

    

    // Video cards

    #vidcards {

        >div {
            @include md {
                display: grid;
                grid-template-columns: auto;
                grid-template-areas: "vid1 vid2 vid3";
            }

            #vid1 {
                grid-area: vid1;
                margin: 24px;
            }

            #vid2 {
                grid-area: vid2;
                margin: 24px;
            }

            #vid3 {
                grid-area: vid3;
                margin: 24px;

                @include md {
                    display: none;
                }

                @include xl {
                    display: grid;
                }
            }
        }
    }


    #gap20pxvid {
        margin-bottom: 20px;
    }

    #bottomhpend {
        margin-bottom: 70px;
    }

    #mediause{
        margin-bottom: 50px;
        h1 {
            padding-top: 16px;
            padding-bottom: 16px;

            @include md {
                padding-top: 32px;
            }
        }

        p {
            padding-bottom: 20px;
            font-size: small;
        }
        h5{
            text-decoration: underline;
            cursor: pointer;
        }
    }

    // End of page

}
