/* =============
    Home page
============= */

body{
    background-color: black;
    color: white;
}

#homepg{

    // Hero

    #head1mission{
        margin-top: 40px;
        margin-bottom: 10px;
        letter-spacing: 5px;
        text-transform: uppercase;
    }

    #heroheader{
        width: 350px;
        line-height: 60px;
        text-transform: uppercase;
        font-size: 15px;
    }

    #headerbody{
        letter-spacing: 0.1px;
        line-height: 25px;
        font-size: 14px;
        p{
            width: 300px;
            margin-bottom: 30px;
        }
    }

    // Enter name and passcode

    #entername{
        >div{
            form{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                input{
                    background-color: var(--spacedark);
                    width: 170px;
                    height: 10px;
                    border: 0;
                    padding: 10px 0;
                    margin: 5px 0;
                    text-align: center;
                    font-size: 10px;
                    border-radius: 0px;
                    color: white;
                }
            }
        }
    }

    #pin{
        >div{
            form{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                input{
                    background-color: var(--spacedark);
                    width: 40px;
                    height: 20px;
                    border: 0;
                    padding: 10px 0;
                    margin: 5px 0;
                    text-align: center;
                    text-justify: center;
                    font-size: 20px;
                    border-radius: 0px;
                    text-decoration-color: white;
                    color: white;
                    font-family: 'Righteous', cursive;
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                }
                input[type=number] {
                    -moz-appearance: textfield;
                }
            }
        }
        margin-top: 20px;
        margin-bottom: 20px;
    }

    // End of enter name and passcode

    article{
        >div{
            display: flex;
                align-items: center;
                justify-content: center;
            p{
                display: block;
                letter-spacing: 0.1px;
                line-height: 25px;
                font-size: 12px;
                text-align: center;
                width: 250px;
                margin-bottom: 80px;
            }
        }
    }

    // End of hero


    // Quick links

    #climate{
        grid-area: climate;
        >div{
            align-items: center;
            justify-content: center;
            gap: 16px;
            display: grid;
            grid-template-columns: 160px auto;
            grid-template-areas: "climateimg climatetxt";
            #climateimg{
                grid-area: climateimg;
                display: grid;
                grid-template-columns: auto 275px auto;
                width: 150px;
                height: 170px;
                overflow: hidden;
                border-radius: 30px;
                
                img{
                    margin: 0px 0px 0px -40px;     
                    height: 170px;
                }
            }

            #climatetxt{
                grid-area: climatetxt;
                color: white;
                width: 150px;
                h4{
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    font-size: 18px;
                    font-family: 'Righteous', cursive;
                    margin-bottom: 10px;
                }
                p{
                    font-size: small;
                }
            }
        }
    }

    #gapquicklinksmid{
        margin-top: 60px;
    }

    #recentnews{
        grid-area: recentnews;
        >div{
            align-items: center;
            justify-content: center;
            gap: 16px;
            display: grid;
            grid-template-columns: 160px auto;
            grid-template-areas: "recentnewstxt recentnewsimg";
            #recentnewsimg{
                grid-area: recentnewsimg;
                display: grid;
                grid-template-columns: auto 275px auto;
                width: 150px;
                height: 170px;
                overflow: hidden;
                border-radius: 30px;
                img{
                    margin: 0px 0px 0px -40px;     
                    height: 170px;
                }
            }

            #recentnewstxt{
                grid-area: recentnewstxt;
                color: white;
                width: 150px;
                h4{
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    font-size: 18px;
                    font-family: 'Righteous', cursive;
                    margin-bottom: 10px;
                }
                p{
                    font-size: small;
                }
            }
        }
    }

    #gapquicklinksend{
        margin-top: 80px;
    }

    // End of quick links


    // Hero image card

    #addarrowsimgcard{
        grid-area: heroimgcardall;
        >div{
            #arrowleft{
                grid-area: arrowleft;
            }
            >div{
                grid-area: heroimgcard;
                #heroimgcard1{
                    #heroimgdiv{
                        display: grid;
                        grid-template-columns: auto 275px auto;
                        width: 275px;
                        height: 420px;
                        overflow: hidden;
                        border-radius: 30px;
                        border: 1px;
                        border-color: white;
                        border-style: solid;
                        img{
                        margin: -50px 0px 0px -300px;     
                        }
                    }
                    #heroimgcardtxt{
                        margin-top: -120px;
                        width: 240px;
                        margin-left: 16px;
                        font-size: 18px;
                        line-height: 25px;
                        letter-spacing: 2px;
                        
                        @include md{
                            display: none;
                        }
                    }
                }
            }
            #arrowright{
                grid-area: arrowright;
            }
        }
        margin-bottom: 100px;
    }

        // Enf of hero image card




    // End of page
    }