/* =============
    Buttons
============= */


.readmore{
    display: grid;
    grid-template-columns: 90px auto;
    grid-template-areas: "readmoretxt arrow";
    margin-top: 5px;
    a{
        grid-area: readmoretxt;
        text-decoration: none;
        color: white;
        font-family: 'Righteous', cursive;
        font-size: small;
    }
    img{
        grid-area: arrow;
        height: 15px;
        margin-left: -20px;
        margin-top: 5px;
    }
}
.readmore :hover{
    cursor: pointer;
}




.defaultbutton{
    background-color: black;
    width: 180px;
    height: 50px;
    padding: 10px 0;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 12px;
    color: white;
    border-radius: 10px;
    border: 2px;
    border-color: white;
    border-style: solid;
    cursor: pointer;
}

.defaultbutton :hover{
    cursor: pointer;
}